{%extends "blog/base.html"%}

{%block content%}

<h1>{{post.title}}</h1>
<br>
<p>{{post.text}}</p>
<br>
<div style="text-align: right">
    <a href="{% url 'edit' post.id %}" class="btn" style="background-color:#ff679a; color: white;">수정</a>
    <a href="{% url 'delete' post.id %}" class="btn" style="background-color:#ff679a; color: white;">삭제</a>
    <a href="{% url 'home' %}" class="btn" style="background-color:#ff679a; color: white;">홈으로</a>
</div>
<br>
<hr>

{% for comment in post.comments.all %}
<div class="row">
    <div class="col-9" style="text-align:left">
        <strong>{{user.username}}</strong>
        {{comment.text|linebreaks}}</div>
    <div class="col-3"><a href="{% url 'delete_comment' comment_id=comment.id %}" class="btn"
            style="background-color:#ff679a; color: white;">댓글삭제</a></div>
</div>
{%empty%}
<p>댓글이 없습니다.</p>
{%endfor%}
<hr>
<div class="form-group">
    <div class="row">
        <div class="col-9">
            <form method="POST" action="{% url 'add_comment' post.id%}">
                {% csrf_token %}
                {{form.as_table}}
        </div>
        <div class="col-3">
            <button type="submit" class="save btn btn-default" class="btn"
                style="background-color:#ff679a; color: white;">작성</button>
        </div>
    </div>
    </form>
</div>
</div>
{% endblock %}
</body>